@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Webkit (Chrome, Safari) */
main::-webkit-scrollbar {
  width: 8px; /* Thin scrollbar */
}

main::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray track */
  border-radius: 10px;
}

main::-webkit-scrollbar-thumb {
  background: #888; /* Dark gray thumb */
  border-radius: 10px;
}

main::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker on hover */
}

/* Firefox scrollbar */
main {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}


@media screen and (max-width: 768px) {
  .p-toast {
      width: 90vw !important;
      right: 5vw !important;
  }

  .p-toast-top-right,
  .p-toast-top-left,
  .p-toast-top-center {
      top: 1rem !important;
  }

  .p-toast-bottom-right,
  .p-toast-bottom-left,
  .p-toast-bottom-center {
      bottom: 1rem !important;
  }

  .p-toast-message {
      margin: 0 !important;
      padding: 0.8rem !important;
  }

  .p-toast-message-content {
      padding: 0.5rem !important;
  }

  /* Adjust text size for better readability */
  .p-toast-message-text {
      font-size: 0.875rem !important;
  }

  .p-toast-summary {
      font-size: 1rem !important;
  }

  /* Make close button easier to tap */
  .p-toast-icon-close {
      padding: 0.5rem !important;
      width: 2rem !important;
      height: 2rem !important;
  }
}