name: Build project and deploy to SmarterASP.NET
on: [push]

jobs:
  build_and_deploy:
    name: Build package and deploy to SmarterASP.NET
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Dependencies
        shell: powershell
        run: |
          if (Test-Path "package.json") { npm install }
          if (Test-Path "composer.json") { composer install }

      - name: Build Project
        shell: powershell
        run: |
          if (Test-Path "package.json") { npm run build }

      - name: Deploy to FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: win9071.site4now.net
          username: leynnnnnn-001
          password: superadmin2024
          protocol: ftp
          exclude: |
            **/.git*
            **/.git*/**
            **/node_modules/**
            README.md
